---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

// dotted underline
.dotted_u {
  text-decoration: underline dotted #fc7a1e;
  text-underline-offset: 0.1em;
}
