---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

// dotted underline
.dotted_u {
  text-decoration: underline dotted #fc7a1e;
  text-underline-offset: 0.1em;
}

// images in Publications table
img[alt=pub_image] { width: 1000px; } // 1000px is a bodge...

// iFrame border
iframe {
  border-color: #fc7a1e;
  border-width: thin;
  border-style: dashed;
}
